Source: nyanbda
Maintainer: Anton Ekblad <anton@ekblad.cc>
Section: web
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: nyanbda
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Nyaa Torrents watcher and downloader
 Queries, downloads and watches torrents from Nyaa Torrents.
 Supports several different execution modes, including interactive,
 batch mode and a daemon mode with a friendly web interface.
